extends layout

block content
	#description
		#description-header Who We Are
		p.
			The Minnesota Rangers basketball team is a semi-pro basketball team 
			based in the Twin Cities. We are part of the Midwest Basketball 
			League and our quest for a CHAMPIONSHIP is lived everyday through 
			players that work hard and strive for excellence.	
	#staff
		h1.white-text Rangers Staff
		ul
			each member in staff
				li.staff-member
					img.photo(src="../images/profiles/#{member.img}")
					.name #{member.name}
					.title #{member.title}
					.bio #{member.bio}
	#players
		h1.white-text Player Roster
		ul
			each player in players
				li.player
					img.photo(src="../images/players/#{player.img}")
					.name #{player.name}
					.details
						.identifiers
							span.number #{player.number}
							span.position #{player.position}
							br
							span hometown: 
							span.hometown #{player.hometown}
						.vitals
							span height: 
							span.height #{player.height}
							br
							span weight:
							span.weight #{player.weight}
					.experience Past Teams:
						ul
							each team in player.pastTeams
								li #{team}
