extends layout

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")
	
block banner
	#banner

block content
	#schedule-snapshot
	#headlines
		article
			img(src='../images/#{headlines[0].image}')
			h2 #{headlines[0].date.toDateString()}
			h1 #{headlines[0].title}
			a.see-more.red-text(href='../headlines/#{headlines[0].dateNum}') more...
		hr
		article
			img(src='../images/#{headlines[1].image}')
			h2 #{headlines[1].date.toDateString()}
			h1 #{headlines[1].title}
			a.see-more.red-text(href='../headlines/#{headlines[1].dateNum}') more...
	hr
	#latest-video
		h3 Latest Videos
		#videos
			.video(id='rogers-highlights')
				//iframe(width="560",height="315",src="https://www.youtube.com/embed/K6ww_DqAkF4",frameborder="0",allowfullscreeni=true)
				iframe(width="100%",height="100%",src="https://www.youtube.com/embed/K6ww_DqAkF4",frameborder="0",allowfullscreeni=true)
			.video(id='all-in-a-days-work')
				script.
					(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
				.fb-video(data-allowfullscreen='1', data-href='/MNRangersBasketball/videos/vb.798066073581304/960348484019728/?type=3')
			//
				.video(id='fb-training')
					script.
						(function(d, s, id) {  var js, fjs = d.getElementsByTagName(s)[0];  if (d.getElementById(id)) return;  js = d.createElement(s); js.id = id;  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";  fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
					.fb-video(data-allowfullscreen='1' data-href='/MNRangersBasketball/videos/vb.798066073581304/949596008428309/?type=3')
		a.see-more.red-text(href='../community') see more...
