extends layout

block meta
	meta(property="og:image", content="http://mnrangers.com/images/banner.jpg")

block content
	#players
		.section-header
			h1.white-text Player Roster 
		ul
			each player in players
				li.player
					img.photo(src="../images/players/#{player.img}")
					a.name(href="players/#{player.id}") #{player.name}
					.details
						.identifiers
							span.number #{player.number}
							span.position #{player.position}
							br
							span hometown: 
							span.hometown #{player.hometown}
							br
							span birthdate: 
							span.dob #{player.getDobWithAge()}
						.vitals
							span height: 
							span.height #{player.height}
							br
							span weight:
							span.weight #{player.weight}
					.experience Past Teams:
						ul
							each team in player.pastTeams
								li #{team}

