extends layout

block content
	table
		tr
			th.matchup-col Matchup
			th.dateTime-col Date / Time
			th.location-col Location
			th.result-col Result
		each match in matchups
			tr
				td
					div(class=(match.homeOrAway() == 'home'? '' : 'rangers'))
						img(src = "/images/otherLogos/#{match.awayTeam.teamLogo}-32x32.png")
						span #{match.awayTeam.teamName}
					div.at @
					div(class=(match.homeOrAway() == 'home'? 'rangers' : ''))
						img(src = "/images/otherLogos/#{match.homeTeam.teamLogo}-32x32.png")
						span #{match.homeTeam.teamName}
				td #{match.dateTime}
				td
					a(href="https://goo.gl/maps/#{match.location.mapSlug}" target="_blank") #{match.location.locationName}
				td #{match.result}
